@(iconUrl: String)
<!DOCTYPE html>
<html>
<head>
<title>トップページ</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
</head>
<body>
    
    <div>本日の京都の天気</div>
    <img src="@iconUrl" />
    
    <div>
    	<a href="/register">Register</a>
    </div>
    <div>
    	<a href="/find">Find</a>
    </div>
</body>
</html>